<section id="vehicles-section">
    <div class="container wrap">
        <div id="filter-container">
            fwef
        </div>

        <div id="products-container">
            <div id="products-layout">
                <ng-container *ngFor="let vehicle of vehiclesList">
                    <div class="card-container">
                        <app-product-card [vehicle]="vehicle"></app-product-card>
                        <div class="button-layout">
                            <a [routerLink]="['details']" class="details-button">Detalles</a>
                            <button class="favorite-button"><span class="material-symbols-outlined">favorite</span></button>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</section>


